<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TradingDayRuleFileLocation" value=""/>
    <add key="HolidayRuleFileLocation" value="..\..\..\..\..\Calendars\V1.1\nabCap.QR.Business.Calendar\bin\Debug"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
