<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="Product.Generated">
      <ComponentGroupRef Id="National.QRSC.Adapter.GWML.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Adapter.GWML.Content" />
      <ComponentGroupRef Id="National.QRSC.Adapter.GWML.Satellites" />
      <ComponentGroupRef Id="National.QRSC.AnalyticModels.Binaries" />
      <ComponentGroupRef Id="National.QRSC.AnalyticModels.Content" />
      <ComponentGroupRef Id="National.QRSC.AnalyticModels.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Analytics.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Analytics.Content" />
      <ComponentGroupRef Id="National.QRSC.Analytics.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Calendars.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Calendars.Content" />
      <ComponentGroupRef Id="National.QRSC.Calendars.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Engine.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Engine.Content" />
      <ComponentGroupRef Id="National.QRSC.Engine.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Trades.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Trades.Content" />
      <ComponentGroupRef Id="National.QRSC.Trades.Satellites" />
      <ComponentGroupRef Id="MarketDataClient.Binaries" />
      <ComponentGroupRef Id="MarketDataClient.Content" />
      <ComponentGroupRef Id="MarketDataClient.Satellites" />
      <ComponentGroupRef Id="National.QRSC.ModelFramework.Binaries" />
      <ComponentGroupRef Id="National.QRSC.ModelFramework.Content" />
      <ComponentGroupRef Id="National.QRSC.ModelFramework.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Numerics.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Numerics.Content" />
      <ComponentGroupRef Id="National.QRSC.Numerics.Satellites" />
      <ComponentGroupRef Id="National.QRSC.ObjectCache.Binaries" />
      <ComponentGroupRef Id="National.QRSC.ObjectCache.Content" />
      <ComponentGroupRef Id="National.QRSC.ObjectCache.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Runtime.3.3.Client.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Runtime.3.3.Client.Content" />
      <ComponentGroupRef Id="National.QRSC.Runtime.3.3.Client.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Runtime.Common.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Runtime.Common.Content" />
      <ComponentGroupRef Id="National.QRSC.Runtime.Common.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Configuration.Types.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Configuration.Types.Content" />
      <ComponentGroupRef Id="National.QRSC.Configuration.Types.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Constants.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Constants.Content" />
      <ComponentGroupRef Id="National.QRSC.Constants.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Identifiers.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Identifiers.Content" />
      <ComponentGroupRef Id="National.QRSC.Identifiers.Satellites" />
      <ComponentGroupRef Id="National.QRSC.FpML.V47.Codes.Binaries" />
      <ComponentGroupRef Id="National.QRSC.FpML.V47.Codes.Content" />
      <ComponentGroupRef Id="National.QRSC.FpML.V47.Codes.Satellites" />
      <ComponentGroupRef Id="National.QRSC.FpML.4.7.Binaries" />
      <ComponentGroupRef Id="National.QRSC.FpML.4.7.Content" />
      <ComponentGroupRef Id="National.QRSC.FpML.4.7.Satellites" />
      <ComponentGroupRef Id="QRGWML.Binaries" />
      <ComponentGroupRef Id="QRGWML.Content" />
      <ComponentGroupRef Id="QRGWML.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Utility.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Utility.Content" />
      <ComponentGroupRef Id="National.QRSC.Utility.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Workflow.CurveGeneration.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Workflow.CurveGeneration.Content" />
      <ComponentGroupRef Id="National.QRSC.Workflow.CurveGeneration.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Workflow.TradeValuation.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Workflow.TradeValuation.Content" />
      <ComponentGroupRef Id="National.QRSC.Workflow.TradeValuation.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Workflow.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Workflow.Content" />
      <ComponentGroupRef Id="National.QRSC.Workflow.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Server.Alerting.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Server.Alerting.Content" />
      <ComponentGroupRef Id="National.QRSC.Server.Alerting.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Server.CurveGenerator.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Server.CurveGenerator.Content" />
      <ComponentGroupRef Id="National.QRSC.Server.CurveGenerator.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Server.CurveImporter.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Server.CurveImporter.Content" />
      <ComponentGroupRef Id="National.QRSC.Server.CurveImporter.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Server.FileImporter.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Server.FileImporter.Content" />
      <ComponentGroupRef Id="National.QRSC.Server.FileImporter.Satellites" />
      <ComponentGroupRef Id="QrMdpBloomberg.Binaries" />
      <ComponentGroupRef Id="QrMdpBloomberg.Content" />
      <ComponentGroupRef Id="QrMdpBloomberg.Satellites" />
      <ComponentGroupRef Id="QRMarketDataServer.Binaries" />
      <ComponentGroupRef Id="QRMarketDataServer.Content" />
      <ComponentGroupRef Id="QRMarketDataServer.Satellites" />
      <ComponentGroupRef Id="QRMdpBaseProvider.Binaries" />
      <ComponentGroupRef Id="QRMdpBaseProvider.Content" />
      <ComponentGroupRef Id="QRMdpBaseProvider.Satellites" />
      <ComponentGroupRef Id="QrMdpNabCapital.Binaries" />
      <ComponentGroupRef Id="QrMdpNabCapital.Content" />
      <ComponentGroupRef Id="QrMdpNabCapital.Satellites" />
      <ComponentGroupRef Id="QRMdpSimulator.Binaries" />
      <ComponentGroupRef Id="QRMdpSimulator.Content" />
      <ComponentGroupRef Id="QRMdpSimulator.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Server.StressGenerator.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Server.StressGenerator.Content" />
      <ComponentGroupRef Id="National.QRSC.Server.StressGenerator.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Server.TradeImporter.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Server.TradeImporter.Content" />
      <ComponentGroupRef Id="National.QRSC.Server.TradeImporter.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Server.TradeRevaluer.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Server.TradeRevaluer.Content" />
      <ComponentGroupRef Id="National.QRSC.Server.TradeRevaluer.Satellites" />
      <ComponentGroupRef Id="National.QRSC.Server.ServiceHost.Binaries" />
      <ComponentGroupRef Id="National.QRSC.Server.ServiceHost.Content" />
      <ComponentGroupRef Id="National.QRSC.Server.ServiceHost.Satellites" />
    </ComponentGroup>
  </Fragment>
</Wix>