<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="BloombergApi" type="Bloomberg.Api.Configurator, Bloomberg.Api"/>
  </configSections>
  <!-- BloombergApi configuration section -->
  <BloombergApi>
    <Connection>
      <!-- The IP address of the bbcomm user agent -->
      <Host>10.16.16.51</Host>
      <!-- The Port of the bbcomm user agent -->
      <Port>8194</Port>
      <!-- How long to wait after connection failure before attempting to reconnect to host bbcomm -->
      <ReconnectInterval>1000</ReconnectInterval>
      <!-- How long to wait for an initial response from host bbcomm -->
      <ConnectTimeout>3000</ConnectTimeout>
      <!-- The location of the bbcomm user agent on this machine. 
			<BbcommLocation>c:\blp\api\bbcomm.exe</BbcommLocation>-->
    </Connection>

    <MarketDataAdapter>
      <!-- How long to wait for Bloomeberg Authorization. -->
      <ApplicationIdTimeout>60000</ApplicationIdTimeout>
    </MarketDataAdapter>

    <!-- 4 metadata files are required: Field Table, FieldTableExtendedDescritpions,
and FieldTableOverrides are available on the Bloomberg support website:
http://www.bloomberg.com/blpsupport. The CurrencyTable is distributed with the
.NET api. -->
    <Metadata>
      <FieldTable>bbfields.tbl</FieldTable>
      <FieldTableExtendedDescriptions>bbfields.ext</FieldTableExtendedDescriptions>
      <FieldTableOverrides>bbfields.ovr</FieldTableOverrides>
      <CurrencyTable>Ccylist.tbl</CurrencyTable>
    </Metadata>

    <!-- The following identifiers will be provided to each ServerApi customer
by Bloomberg -->
    <ServerApiLicense>
      <Uuid>0</Uuid>
      <Sid>0</Sid>
      <SidInstance>0</SidInstance>
      <TerminalSid>0</TerminalSid>
      <TerminalSidInstance>0</TerminalSidInstance>
    </ServerApiLicense>
  </BloombergApi>

  <!-- Set up a  trace logger (required for ServerApi) -->
  <!-- value for BloombergApiTraceSwitch is taken from the 
	System.Diagnostics.TraceLevel enumeration:
	Off     = 0
	Error   = 1
	Warning = 2
	Info    = 3
	Verbose = 4
-->
  <!-- Use "intializeData" attribute (for BloombergApiLog) to speicify the folder 
	where the log files will
	be written, followed by a colon (:), followed by the maximum size (in bytes) 
	to which a log file can grow. 
-->
  <system.diagnostics>
    <switches>
      <add name="BloombergApiTraceSwitch" value="2"/>
    </switches>

    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="BloombergApiLog" type="Bloomberg.BBComm.Util.FileWriterTraceListener, Bloomberg.BBComm.Util" initializeData=".\BloombergApi:10000000"/>
      </listeners>
      <!-- If your Bloomberg Api Assemblies are in the GAC - 
	then you will need to fully qualify the assembly reference.
	(Please note you will need to change the version number) 
			<listeners>
				<add name="BloombergApiLog" 
					type="Bloomberg.BBComm.Util.FileWriterTraceListener, Bloomberg.BBComm.Util, Version=1.1.11.9, Culture=Neutral, PublicKeyToken=65c07ea3148235aa" 
					initializeData=".\BloombergApi:1000000" />			
			</listeners>
-->
    </trace>
  </system.diagnostics>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
