<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWebProxyV101" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8222/Highlander_Prxy_IWebProxyV101"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebProxyV101"
                contract="HighlanderServiceReference.IWebProxyV101" name="BasicHttpBinding_IWebProxyV101" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
