@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Highlander.CurveWebApp gives users the ability to get updated curves and surfaces from the Highlander infrastructure</p>
