@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    29 Jersey Road<br />
    Woollahra, Sydney 2015<br />
    <abbr title="Phone">P:</abbr>
    407469317
</address>

<address>
    <strong>Support:</strong> <a href="mailto:alexwatt@hotmail.com">alexwatt@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:alexwatt@hotmail.com">alexwatt@hotmail.com</a>
</address>
